{% extends "base.html" %}
{% block content %}
<a class="btn btn-primary" href="{{url_for('drivers')}}" role="button">Asc</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for racer in info_for_output %}
    <tr>
      <th scope="row">{{racer[0]}}</th>
      <td>{{ racer[1] }}</td>
      <td><a href="{{url_for('driver', abbreviation=racer[1])}}">Details</a></td>
    </tr>
  {% if racer[0] == 16 or racer[0] == 1 %}
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>
{% endblock %}